parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method Illuminate\\Database\\Eloquent\\Model\:\:factory\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: database/factories/CommentFactory.php
